/**
 * BlogPro Form Components
 * CSS entry point for form system
 */

@import './form.css';
@import './form-field.css';
@import './checkbox.css';
@import './radio.css';
@import './switch.css';
@import './file-upload.css';
@import './captcha.css';