/* 
 * Theme Toggle Component - BEM Style
 * 
 * Block:     .theme-toggle
 * Elements:  .theme-toggle__icon
 * Modifiers: .theme-toggle--active
 */

/* Theme toggle styles moved to theme-toggle.css */