.toaster {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  pointer-events: none;
}

.toaster > * {
  pointer-events: auto;
}

.toast-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toast-container > * {
  pointer-events: auto;
}